<div id="side-navv" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <%= icon("bootstrap", class:"bi me-2", width:"40", height:"32") %>
      <span class="fs-4">AirBNbee</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link text-white" aria-current="page">
          <%= icon("house-door", class:"bi me-2", width:"16", height:"16") %>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <%= icon("speedometer2", class:"bi me-2", width:"16", height:"16") %>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <%= icon("table", class:"bi me-2", width:"16", height:"16") %>
          Orders
        </a>
      </li>
      <li>
        <a href="/rooms" class="nav-link text-white">
          <%= icon("grid", class:"bi me-2", width:"16", height:"16") %>
          Rooms
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <%= icon("people", class:"bi me-2", width:"16", height:"16") %>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><%= current_user.id %></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, class:"dropdown-item", method: :delete  %></li>
      </ul>
    </div>
  </div>
